.govuk-width-container {
	max-width: 960px;
	margin-right: 15px;
	margin-left: 15px
}

@media(min-width:641px) {
	.govuk-width-container {
		margin-right: 30px;
		margin-left: 30px
	}
}

@media(min-width:1020px) {
	.govuk-width-container {
		margin-right: auto;
		margin-left: auto
	}
}

.das-cookie-banner {
	display: none;
	padding: 15px 0;
	box-sizing: border-box;
	width: 100%;
	position: relative;
	z-index: 2;
	background: #f3f2f1;
	border: none
}

@media(min-width:641px) {
	.das-cookie-banner {
		padding: 20px 0
	}
}

.das-cookie-banner__header {
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
	color: #0b0c0c
}

.das-cookie-banner__message {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 5px;
	padding-right: 20px;
	padding-bottom: 10px;
	color: #0b0c0c;
	font-size: 16px;
	line-height: 1.2
}

@media(min-width:641px) {
	.das-cookie-banner__message {
		font-size: 19px;
		line-height: 1.3
	}
}

@media(min-width:769px) {
	.das-cookie-banner__message {
		margin: 0
	}
}

.das-cookie-banner__service-name {
	display: inline-block
}

.das-cookie-banner__buttons {
	display: block
}

.das-cookie-banner__buttons:after {
	content: "";
	display: block;
	clear: both
}

@media(min-width:641px) {
	.das-cookie-banner__buttons {
		margin: 0 -10px 10px
	}
}

@media(min-width:769px) {
	.das-cookie-banner__buttons {
		padding-bottom: 10px;
		margin-bottom: 0
	}
}

.das-cookie-banner__button-wrap {
	margin-top: 10px;
	vertical-align: top;
	float: none;
	width: 100%
}

@media(min-width:641px) {
	.das-cookie-banner__button-wrap {
		width: 50%;
		float: left;
		padding: 0 10px;
		box-sizing: border-box
	}
}

.das-cookie-banner__button {
	margin: 0;
	width: 100%;
	text-align: center
}

@media(min-width:641px) {
	.das-cookie-banner__button {
		font-size: 19px
	}
}

@media(min-width:769px) {
	.das-cookie-banner__button {
		vertical-align: baseline
	}
}

.das-cookie-banner__confirmation {
	position: relative;
	padding: 5px;
	display: none
}

.das-cookie-banner__confirmation-message {
	margin: 0
}

.das-cookie-banner__hide-button {
	outline: 0;
	border: 0;
	background: none;
	text-decoration: underline;
	color: #005ea5;
	padding: 0;
	margin-top: 10px;
	cursor: pointer
}

.das-cookie-banner__hide-button:hover {
	color: #2b8cc4
}

.das-cookie-banner__hide-button:focus {
	color: #2b8cc4;
	background: #ffbf47;
	outline: 3px solid #ffbf47
}

@media(min-width:769px) {
	.das-cookie-banner__hide-button {
		position: absolute;
		right: 5px;
		top: 5px;
		margin: 0
	}
}

.das-cookie-settings__confirmation {
	display: none
}

.js-enabled .das-cookie-settings__no-js {
	display: none
}

.das-cookie-settings__has-js {
	display: none
}

.js-enabled .das-cookie-settings__has-js {
	display: block
}

.das-cookie-settings__confirmation {
	margin: 20px 0;
	border: 5px solid #006435;
	padding: 20px
}

.das-notification__heading {
	font-weight: bold;
	font-size: 19px;
	margin: 0
}

.das-notification__body {
	display: none
}